<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="icon" type="image/svg+xml" href="{{ "/assets/img/energy-modelling-tools-logo-v5.min.svg" | relative_url }}">  <meta property="og:image:alt" content="CCG" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="{{ "/assets/img/energy-modelling-tools-logo-v5.min.svg" | relative_url }}" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="{{ "/assets/css/style.css" | relative_url }}">
  <link rel="stylesheet" type="text/css" href="{{ "/assets/css/fonts.css" | relative_url }}">
  {% seo %}
</head>

<body{% if page.id %} id="{{ page.id }}"{% endif %} class="{{ page.layout }}">

  <div class="page-header bg-white py-5 fade-in-center pt-2 pb-3">
    <div class="container-lg">
  
    <!-- .full-width here gets closed on support-page.html and home.html layouts -->
           
